/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-mulish: Mulish, sans-serif;
}

@layer base {
  #root {
    min-height: 100vh;
  }
  /* Hide arrow controls for number inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
  }

  /* Add pointer cursor to all enabled buttons */
  button:not([disabled]) {
    cursor: pointer;
  }
}
